body {
    font-family: Roboto, Arial;
}

.header {
    display: flex;
    flex-direction: row;
    font-family: Roboto, Arial;
    background-color: #1f2937;
    padding-bottom: 40px;
    justify-content: space-between;
}

.left {
    font-size: 18px;
    color: #f9faf8;

    display: flex;
    flex-direction: row;
    justify-content: space-between;


}

.title {
    font-size: 24px;
    font-weight: bold;
    width: 500px;
    color: #f9faf8;

    margin-right: 600px;
}

.a,.b,.c{
    padding-left: 20px;
    padding-right: 20px;
}

.hero {
    height: 450px;
    background-color: #1f2937;
    padding-left: 50px;
    padding-right: 50px;
    
    

}

.des {
    font-size: 18px;

}

button {
    padding: 10px;
    border-radius: 6px;
    font-size: 16px;
    background-color: #3882F6;
    color: white;
}

.img {
    

    width: 450px;
    
    object-fit: cover;
    border: radius 2px;


}

.hero-text,
.State {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    width: 600px;
    font-style: italic;
}

.hero-2 {
    display: flex;
    justify-content: space-between;
}

.description {
    width: 400px;
    font-size: 20px;
    margin-bottom: 20px;
    font-family: Roboto, Arial;
    color: #f9faf8;
    font-weight: 500;
}

.hero-image {
    margin-top: 40px;
    border-radius: 2px;

}

.section-2 {
    background-color: white;
    width: 400px;
    margin-bottom: 200px;
}

.information-header {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.boxes {
    display: flex;

    justify-content: space-evenly;
}

.img1,
.img2,
.img3 {
    width: 250px;
    height: 200px;
    object-fit: cover;
    object-position: top;
}

.one,
.two,
.three {
    border: 4px solid #3882F6;
    font-family: Roboto, Arial;
    font-size: 18px;
    font-weight: 700;
    color: #1f2937;
    border-radius: 2px;
}

.quote-section {
    background-color: #e5e7eb;

}

.quote {
    font-family: Roboto, Arial;
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 50px;
}

.call-to-action {
    height: 200px;
}

.cta-description {
    background-color: #3882F6;
    font-size: 18px;
    font-family: Roboto, Arial;
    color: white;
    display: flex;
    margin: 20px;
    border-radius: 4px;
    padding-left: 10px;
    padding-bottom: 50px;
    padding-top: 50px;


}

.Explore {
    margin-left: 20px;
    border: white 1px;
}

.cta-button {
    padding: 10px;
    border-radius: 6px;
    font-size: 16px;
    border: 2px solid white;

}

.footer {
    height: 100px;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: end;
}

.Copyright {
    font-family: Roboto, Arial;
    font-size: 18px;
    color: white;

}